@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #4b0076;
}

#calc-container {
    display: flex;
    border-radius: 10px;
    background-color: #B8B8B8;
    width: 600px;
    height: 600px;
    flex-direction: column;
    justify-content: stretch;
}

#display-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 96px;
    width: 576px;
    margin: 11px 11px 0;
    background-color: #000;
    border: 2px dotted #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: #ffa500;
}

#display-content {
    padding-right: 15px;
}

#button-container {
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    row-gap: 20px;
    column-gap: 20px;
}

.button-box {
    background-color: #fff;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    box-shadow: 0px 3px #505050;
}